.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
  cursor: pointer;
  font-size: 15px;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover {
  background-color: #f8f9fa;
}

.arrow {
  font-size: 18px;
  color: #999;
}

.title {
  margin: 0 0 16px 0;
  font-size: 24px;      /* 크게 */
  font-weight: 800;     /* 제목 느낌 */
  line-height: 1.2;
}
