@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");


/* Fonts */
:root {
  --default-font: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --heading-font: "Pretendard Variable", Pretendard, sans-serif;
  --nav-font: "Pretendard Variable", Pretendard, sans-serif;
}

/* Global Colors */
:root { 
  --background-color: #ffffff;
  --default-color:#333333;
  --heading-color: #222222;
  --accent-color: #005EFF;
  --surface-color: #6D6D6D;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
  --nav-color: #222222;
  --nav-hover-color: #005EFF;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-hover-color: #005EFF;
}

/* Color Presets */
.light-background {
  --background-color: #f7fbfa;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #005EFF;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  overflow-x: hidden;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.userTable { 
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.userTable tbody td{
  width: 300px;
}

.userDropDown {
  width: 97%;
  margin-left: 30px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}