/* src/component/MyPage/MypageExpert.module.css */
.page {
  padding: 24px 16px 64px;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}

.topGrid {
  display: grid;
  grid-template-columns: 1fr 260px;
  gap: 16px;
}

.block {
   border-top: 2px solid #eee;   
   padding-top: 24px;           
   margin-top: 24px;            
   
}

.pageHeader {
  margin-bottom: 24px;   
}

.pageTitle {
  margin: 0;           
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
}